<div class="row">

  <div class="container-fluid">

    <div class="alert alert-danger" *ngIf="name.dirty && name.invalid">
      Name Should be Minimum of 5 Characters
    </div>
    <div class="alert alert-danger" *ngIf="location.dirty && location.invalid">
      Location Should be Minimum of 5 Characters
    </div>
    <div class="alert alert-danger" *ngIf="email.dirty && email.invalid">
      Invalid email address!!
    </div>

    <!-- <div class="alert alert-danger" *ngIf="targetDate.dirty && targetDate.invalid">
                Invalid targetDate
        </div>    -->

    <div class="col-md-10">
      <nb-card>
        <nb-card-header>Organization Maintenance</nb-card-header>
        <nb-card-body>
          <form class="form-horizontal" (ngSubmit)="!organizationForm.invalid &&saveOrganization(organization)"
            #organizationForm="ngForm">
            <div class="form-group row">
              <label for="name" class="col-sm-3 form-control-label">Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="organization.name" name="Name" id="Name"
                  placeholder="Name" required="required" minlength="5" #name="ngModel" >
              </div>
            </div>
            <div class="form-group row">
              <label for="location" class="col-sm-3 form-control-label">Location</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="organization.location" name="location" id="location"
                  placeholder="location" required="required" minlength="5" #location="ngModel">
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-sm-3 form-control-label">Email</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" [(ngModel)]="organization.email" name="email" id="email"
                  placeholder="email" required="required" #email="ngModel" email>
                <!-- <input type="email" class="form-control" id="email" placeholder="email"> -->
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                <div class="checkbox">
                  <nb-checkbox id="active" status="success" value=true>Active</nb-checkbox>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                <button nbButton status="success" type="submit" disabled="{{organizationForm.invalid}}">Submit</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button nbButton status="warning" (click)="cancel()">Cancel</button>
              </div>
            </div>

          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>