<nb-card>
  <nb-card-header>
    Roles List
  </nb-card-header>

  <nb-card-body>
    <!-- <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"> -->
        <ng2-smart-table [settings]="settings" [source]="source" hideHeader="true" (createConfirm)="onCreateConfirm($event)"
        (editConfirm)="onSaveConfirm($event)"  (delete)="onDeleteConfirm($event)"></ng2-smart-table>
  </nb-card-body>
  <nb-card-body>
    <button nbButton hero status="primary" (click)="createOrganization()">Add</button>
  </nb-card-body>
</nb-card>